@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

* a {
    color: white;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, #130D1E, #34154E);
    color: white;
    position: relative;
    max-width: 100%;
}

.button {
    background: #bd85fc1a;
    border: 1px solid #BC85FC;
    border-radius: 50px;
    margin: 0px 20px;
    padding: 10px 30px;
}

.descricao {
    color: rgb(170, 170, 170);
    letter-spacing: 1px;
    line-height: 1.3em;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: .3s;
    background: transparent;
    backdrop-filter: blur(15px);
}

header.ativo {
    background-color: #5445a7b7;
    border-bottom: 1px solid #bd85fc48;
}

#home {
    display: inline-flex;
    padding: 20px 0px;
    transform: translate(50%);
    width: 50%;
}

#home a {
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

#home a:hover {
    background-color: #4b1c7296;
    transition: .5s;
}

#inicio {
    text-align: center;
    padding: 80px 0px;
}

#inicio h1 {
    font-size: 80px;
    padding-top: 60px;
}

#inicio .describe {
    color: gray;
    font-size: 30px;
    letter-spacing: 1.2px;
    line-height: 1.2em;
    padding-top: 30px;
}

#inicio #linguage {
    display: inline-flex;
    padding: 40px 0px;
    
}

#inicio #linguage p:hover {
    background-color: #bd85fc46;
    transition: .5s;
}

#inicio #inicio-button {
    padding-top: 20px;
}

#inicio #inicio-button a {
    border: 1px solid #BC85FC;
    border-radius: 17px;
    font-weight: bolder;
    font-size: 18px;
    padding: 15px;
    margin: 0px 15px;
}

#inicio #inicio-button #trabalho {
    background-image: linear-gradient(to right, #b17cee, #6f5cdb);
}

#inicio #inicio-button #trabalho:hover {
    background-image: linear-gradient(to right, #9065c2, #5445a7);
    box-shadow: 0px 5px 10px #b17cee44;
    transition: .5s;
}

#inicio #inicio-button #econtato {
    background-color: #130D1E;
}

#inicio #inicio-button #econtato:hover {
    background-color: #bd85fc1a;
    box-shadow: 0px 5px 10px #b17cee44;
    transition: .5s;
}

#sobre #sobre-mim {
    text-align: center;
    padding-top: 150px;
}

#sobre #sobre-mim .button {
    display: inline-flex;
    align-items: center;
}

#sobre #sobre-mim .button p {
    margin-left: 5px;
}

#sobre #sobre-mim h1 {
    font-size: 50px;
    padding-top: 20px;
}

#sobre #sobre-mim #sobre-mim-describe {
    color: gray;
    font-size: 20px;
    padding-top: 20px;
}

#quem-sou-eu {
    display: inline-flex;
    height: 750px;
    padding: 60px 20px 20px 20px;
}

#quem-sou-eu #minha-imagem {
    background-color: #5445a72f;
    border: 1px dashed #BC85FC;
    border-radius: 30px;
    box-shadow: 0px 0px 30px #5445a76c;
    display: inline-block;
    height: fit-content;
    margin: auto 50px;
}

#quem-sou-eu #minha-imagem img {
    width: 400px;
    padding: 20px 20px 0px 20px;
}

#quem-sou-eu #minha-descricao {
    padding-left: 40px;

}

#quem-sou-eu #descricao-texto h2 {
    font-size: 1.5em;
    padding: 20px 0px;
}

#quem-sou-eu #descricao-texto p {
    color: rgb(170, 170, 170);
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.1em;
}

#quem-sou-eu #informacoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 100%;
    padding-top: 40px;
}

#quem-sou-eu #informacoes .button {
    background-color: #1E0A32;
    border: 1px solid #5445a775;
    border-radius: 15px;
    display: flex;
    height: 30px;
    align-items: center;
    padding: 30px 5px;
    margin: 0px;
    width: 20vw;
}

#quem-sou-eu #informacoes .button:hover {
    background-color: #280d42;
    transition: .5s;
}

#quem-sou-eu #informacoes .button img {
    width: 30px;
    height: 30px;
}

#quem-sou-eu #informacoes .info-img {
    background-color: #5445a744;
    border-radius: 15px;
    margin: 0px 10px;
    padding: 8px;
}

#quem-sou-eu #informacoes #info-descricao p {
    font-size: 6vw;
}

#quem-sou-eu #hard-skills {
    padding-top: 30px;
}

#quem-sou-eu #hard-skills h3 {
    padding: 20px 0px;
}

#quem-sou-eu #hard-skills p {
    margin: 10px 0px;
}

#quem-sou-eu #hard-skills .button {
    display: inline-flex;
    margin: 0px;
}

#projetos {
    display: block;
    padding: 80px 0px 80px 0px;
    text-align: center;
}

#projetos #projeto-titulo {
    margin: 30px 0px;
    display: inline-flex;
    align-items: center;
}

#projetos #projeto-titulo img {
    padding-right: 8px;
}

#projetos .button {
    display: inline-block;
}

#projetos #descricao-projetos h2 {
    font-size: 4em;
}

#projetos #descricao-projetos p {
    color: rgb(170, 170, 170);
    padding: 20px 0px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

#projetos #meus-projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
}

#projetos .card {
    border: 1px solid #5445a775;
    border-radius: 20px;
    margin: 20px;
}

#projetos .card:hover {
    border: 1px solid #5445a7ce;
}

#projetos .card:hover {
    box-shadow: 0px 0px 15px #5445a76c;
    transition: .5s;
}

#projetos .card-topo {
    background-color: #280C4C;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
}

#projetos .card-topo:hover {
    background-color: #3f1477;
    transition: .3s;
}

#projetos .card-topo img {
    background-color: #5445a777;
    border-radius: 15px;
    width: 50px;
    padding: 10px;
}

#projetos .card-conteudo {
    background-color: #200A35;
    border-radius: 0px 0px 20px 20px;
    height: 110px;
    text-align: left;
    padding: 20px;
}

#projetos .card-conteudo h3 {
    font-size: 1.4em;
    padding: 5px 0px;
}

#projetos .card-conteudo p {
    color: rgb(170, 170, 170);
    padding: 5px 0px;
}

#projetos .card-conteudo .button {
    background-color: #2b0e47;
    border: 1px solid #5445a76b;
    color: white;
    font-size: 0.8em;
    padding: 5px 10px;
    margin: 5px 20px 0px 0px;
}

#projetos .card-conteudo .button:hover {
    background-color: #401568;
}

#github {
    background-color: #401568a1;
    border-radius: 20px;
    margin: 0px 60px;
    height: 360px;
}

#github #gh {
    padding: 30px 0px;
}

#github #gh i {
    font-size: 70px;
}

#github h3 {
    font-size: 2em;
}

#github p {
    color: rgb(170, 170, 170);
    padding: 10px;
    font-size: 1.1em;
    margin: auto;
    max-width: 30rem;
    line-height: 1.4em;
}

#github #gh-button {
    background-color: white;
    border-radius: 15px;
    display: flex;
    width: 200px;
    margin: 10px auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bolder
}

#github #gh-button:hover {
    box-shadow: 0px 3px 10px #5f1db6cb;
    transition: .5s;
}

#github #gh-button i {
    color: #471688;
    padding-right: 15px;
    padding-left: -5px;
}